/*
		générale
*/


body {
	background: #fff;
}

h1 {
	font-size: 80px;
}

a {
	text-decoration: none;
	color: #EE0E0E;
}
a:hover {
	text-decoration: none;
	color: #484545;
}

li {
	font-size: 25px;
}

h2 {
	font-size: 60px;
}

p{
	font-size: 16px;
}

.flag {
	display: flex;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	animation: flag-desappear 10s forwards 1;
}

@keyframes flag-desappear {
	0%, 50% {
		transform: rotate(0deg) skewY(0deg) scale(1);
	}

	70%, 100% {
		transform: rotate(180deg) skewY(10deg) scale(0);
	}
}


.bande-verte, .bande-jaune, .bande-rouge {
	height: 100vh;
}

.bande-verte {
	background: #00932C;
	position: relative;
	width: 32%;
	animation: bandes 1.5s forwards;
}




.bande-jaune {
	background: #FFDB30;
	position: relative;
	width: 36%;
	animation: bandes 1.5s forwards;
}


.etoile {
	position: relative;
	top: 50%;
	font-size: 100px;
	color: #00932C;
}

/*@keyframes star {
	0% {transform: scale(1) rotate(180deg);}
	10%, 20% {transform: scale(1.5) rotate(-180deg);}
	20%, 30% {transform: scale(1) rotate(180deg);}
	30%, 40% {transform: scale(1.5) rotate(-180deg);}
	40%, 50% {transform: scale(1) rotate(180deg);}
}*/

.bande-rouge {
	background: red;
	position: relative;
	width: 32%;
	animation: bandes 1.5s forwards;
}
@keyframes bandes {
	0% { opacity: 0; transform: scale(1)}
	50%, 60% { opacity: 1; transform: scale(1)}
	80% {opacity: 0.5; transform: scale(2)}
	100% {opacity: 0; transform: scale(3)}
}



/*
		header
*/
header a {
	text-decoration: none;
	color: #EE0E0E;
}
header a:hover{
	text-decoration: none;
	color: #484545;
}
header {
	padding:0;
	text-align: center;
}
.header-content {
	font-family: 'Nerko One', cursive, sans-serif;
	display: flex;
	align-content: space-around;
	align-items: center;
	width: 100%;
	padding: 0;
	color: #EE0E0E;
	height: 20vh;
}

.logo {
	flex: 1;
}

.logo p {
	position: relative;
	top: -15px;
	left: 30px;
}

.nav-bar {
	flex: 1;
}

.menu-nav {
	flex: 1;
}



.nav-bar ul li{
	padding: 10px;
	cursor: pointer;
}
.nav-bar ul {
	list-style: none;
	display: flex;
	align-content: space-around;
}
.active {
	text-shadow: 1px 1px #EE0E0E;
	color: #484545;
}

@keyframes slideDown {
	from { top: -200px; }
	to {top: 0px;}
}

@media(max-width: 768px ) {
	#header {
		top: 40px;
	}
	.header-content {
		height: 15vh;
	}

	.mobile-nav-bar {
		width: 100%;
		position: relative;
	}
	.mobile-nav-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
	}

	.mobile-nav-menu *{
		padding: 5px;
	}
	.mobile-nav-menu a {
		color: #EE0E0E;
	}
	.mobile-nav-menu a.active {
		text-shadow: 1px 1px #EE0E0E;
		color: #484545;
	}
	.mobile-nav-menu a:hover{
		text-decoration: none;
		color: #484545;
	}
}

main {
	font-family: 'Nerko One', cursive, sans-serif;
}

.banner {
	position: relative;
	width: 60%;
	margin: auto;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
	
}

.introduction {
	flex: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.introduction h1 {
	color: #EE0E0E;
}

.introduction p {
	color: #484545;
}

.image {
	flex: 1;
	width: 40%;
}

.image img {
	border-radius: 40%;
	border: 1px solid #EE0E0E;
	float: right;
}
.image img {
	width: 300px;
	height: 300px;
}

.contact-me {
	width: 50%;
	background: #fff;
	color: #EE0E0E;
	text-align: center;
	border: 1px solid #EE0E0E;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
}
.contact-me:hover {
	background: #EE0E0E;
	color: #fff;
	border-color: #fff;
}

.scroll_down {
	font-size: 50px;
	color: #EE0E0E;
	cursor: pointer;
	height: 2vh;
	align-items: center;
}

.introduction .scroll_down {
	position : absolute;
	left: 50%;
	bottom: 20%;
}

.introduction a:hover {
	text-decoration: none;
	color: #484545;
}
.scroll_down:hover{
	animation: updown 1s forwards infinite;
}

@keyframes updown {
	from { bottom: 21%; }
	to {bottom: 20%; }
}

@media(max-width: 768px ) {
	
	.introduction {
		display: block;
		padding: 5px;
	}
	.introduction h1 {
		font-size: 30px;
	}
	.introduction p {
		font-size: 12px;
	}

	.contact-me {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 70%;
	}
	.introduction .scroll_down {
		bottom: 17%;
		left: 40%;
		animation: updown 1s forwards infinite;
	}
	@keyframes updown {
		from { bottom: 18%; }
		to {bottom: 17%; }
	}

}

.presentation {
	width: 100%;
	height: 100vh;
	background: #EE0E0E;
	color: #fff;
}

.text-presentation{
	width: 60%;
	margin: auto;
	padding: 50px;
}

.next {
	position: relative;
	float: right;
	right: 20%;
}

.next .scroll_down {
	color: #fff;
	position: absolute;
	left: 100%;
	bottom: 100%;
}
.next .scroll_down:hover{
	animation: updown2 1s forwards infinite;
}

@keyframes updown2 {
	from { bottom: 101%; }
	to {bottom: 100%; }
}

@media(max-width: 768px ) {
	.text-presentation {
		width: 100%;	
		padding: 20px;
	}

	.presentation {
		overflow-y: visible;
	}

}


.meAndMath {
	width: 100%;
	height: 100vh;
	background: url("../img/mathematiques-touch.jpg");
	color: #fff;
}

.text-meAndMath {
	width: 60%;
	margin: auto;
	height: 100%;
}
.text-meAndMath p {
	width: 50%;
	background: rgba(0,0,0,0.9);
	height: 100%;
	top: 25%;
	padding: 20px;
	justify-content: all;
	display: grid;
	align-content: center;
}
.meAndMathBtn {
	width: 40%;
	background: #fff;
	color: #EE0E0E;
	position: relative;
	top: -50%;
	left: 60%;
	text-align: center;
	border: 1px solid #EE0E0E;
	border-radius: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media(max-width: 768px ) {
	.text-meAndMath {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.presentation {
		overflow-y: scroll;
	}
	.text-meAndMath p {
		width: 100%;
		display: block;
		padding-top: 50%;
	}

}


.projects {
	text-align: center;
	margin: 25px;
}

.projects a {
	text-decoration: none;
	color: #EE0E0E;
}
.projects a:hover {
	text-decoration: none;
	color: #484545;
}
.github:hover i {
	background: #EE0E0E;
	color: #fff;
}

.projects h1 {
	color: #484545;
	margin: 20px;
}
.icofont-github {
	padding: 10px;
	background: #fff;
	border: 1px solid #EE0E0E;
}
.myProjects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project-wrap {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  	transition: 0.3s;
	background: #ccc;
}
.project-wrap:hover {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
.project {
	position: relative;
	width: 30%;
  	height: 360px;
  	overflow: hidden;
}

.project figure {
	background: #000;
	overflow: hidden;
	height: 240px;
	position: relative;
	border-radius: 4px 4px 0 0;
	margin: 0;
}
.project figure:hover img {
	opacity: 0.4;
	transition: .4s;
}

.project figure .project-desc {
	position: absolute;
	display: flex;
	opacity: 0;
	line-height: 0;
	width: 60%;
	height: 100%;
	background: transparent;
	color: #fff;
	transition: all .2s linear;
	font-size: 15px;
}
.project figure .project-desc i {
	color: #fff;
	background: transparent;
}
.project figure .project-desc:hover {
	background: transparent;
}
  
  
.project figure .project-desc{
	left: 25%;
	top: 25%;
}
.project figure:hover .project-desc{
	opacity: 1;
}

@media (max-width: 768px) {
	.project {
		width: 80%;
		font-size: 10px;
	}
	.project figure {
		height: 120px;
	}

	.project-info {
		margin-top: 10px;
	}
}


footer {
	font-family: 'Nerko One', cursive, sans-serif;
	height: 75vh;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 5%;
}


.adresse {
	width: 17%;
	margin: auto;
}
footer h1 {
	color: #EE0E0E;
} 

.contacts span {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	color: #EE0E0E;
	border: 1px solid #EE0E0E;
	padding: 12px;
	cursor: pointer;
}

.contacts a {
	text-decoration: none;
	color: #EE0E0E;
}
.contacts a:hover {
	text-decoration: none;
	color: #fff;
}

.contacts span:hover {
	background: #EE0E0E;
	color: #fff;
	border-color: #fff;
}


.copyright {
	margin: 30px;
}

@media(max-width: 768px ) {
	footer{
		height: 100vh;
	}

	.adresse {
		width: 40%;
		padding-top: 50px;
	}
	.copyright {
		font-style: 10px;
	}
}